{% extends 'base.html' %}
{% block content %}
<div class="container mt-2">
    <h2 class="text-center"><u>Category List</u></h2>
    <hr>
    <div class="float-right">
        <a href="{% url 'category:create' %}" class="btn btn-lg btn-success float-right">Add Category</a>
    </div>
    <hr>
    {% if page_obj.paginator.count <= 0 %}
    <h3 class="text-center">No Categories to show</h3>
    {% else %}
    <table class="table table-bordered table-striped">
        <thead class="bg-secondary text-light">
        <th>S.N</th>
        <th>ID</th>
        <th>Category Name</th>
        <th>Description</th>
        <th>No of Posts</th>
        <th>Detail View</th>
        {% if user.is_superuser %}
        <th>Update</th>
        <th>Delete</th>
        {% endif %}
        </thead>
        <tbody>
        {% for category in page_obj %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ category.id }}</td>
            <td class="">{{ category.name }}</td>
            <td class="text-truncate text-secondary fw-light" style="max-width:300px;display:inline-block;">{{ category.description }}</td>
            <td>{{ category.posts_count }}</td>            
            <td><a href="{% url 'category:detail' category.slug %}" class="btn btn-sm btn-info">Details</a></td>
            {% if user.is_superuser %}
            <td><a href="{% url 'category:update' category.slug %}" class="btn btn-sm btn-secondary">Update</a></td>
            <td>
                <form action="{% url 'category:delete' category.slug %}" method="post"
                      onsubmit="return confirm('Do you want to delete category with name : \'{{ category.name }}\' ?')">
                    {% csrf_token %}
                    <input type="submit" value="Delete" class="btn btn-sm btn-danger">
                </form>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="d-flex justify-content-end">
        {% include 'snippets/paginator_links.html' with page_obj=page_obj request=request only%}
    </div>
    {% endif %}

</div>
{% endblock content %}
