{% load static %}
{% load crispy_forms_tags %}
{% load user_custom_tags %}

<link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
<script src="{% static 'js/edit_profile.js' %}"></script>

<form method="POST" enctype="multipart/form-data" {% if save_url_name %} action="{% url save_url_name %}" {% endif %}>
    {% csrf_token %}
    <input type="hidden" name="profile_id" value="{{ user.userprofile.id }}">
    <input type="hidden" name="id" value="{{ user.id }}">
    <div class="page-content page-container" id="page-content">
        <div class="padding">
            <div class="row container d-flex justify-content-center">
                <div class="col-xl-10 col-md-12">
                    <div class="card user-card-full">
                        <div class="row m-l-0 m-r-0">
                            <div class="col-sm-4 bg-c-lite-green user-profile">
                                <div class="card-block text-center text-white">
                                    <div class="m-b-25"> <img
                                            src="{% if user.userprofile.image  %}{{ user.userprofile.image.url }}{% else %} /static/default_user.png {% endif %}"
                                            class="img-fluid w-50" alt="User-Profile-Image" id="user_profile_image">
                                        <br>
                                        <br>
                                        <a href="#" class="btn btn-sm btn-info"
                                            onclick="document.getElementById('image').click()">Upload</a>
                                        <input type="file" name="image" id="image"
                                            class="form-control-file d-none {% if user_profile_form.image.errors|length > 0 %} is-invalid {% endif %}"
                                            onchange="readURL(this,'user_profile_image')" accept="image/*">
                                        {% for error in user_profile_form.image.errors %}
                                        <li class="invalid-feedback">{{ error }}</li>
                                        {% endfor %}
                                    </div>
                                    <h4 class="f-w-600 text-dark">{{ user.username }}</h4>
                                    {% comment %}
                                    <!-- <p class="m-b-10 f-w-600 text-dark">Username</p>
                                    <h6 class="f-w-600">
                                        
                                        <input type="text"
                                            class="form-control form-control-sm {% if user_form.username.errors|length > 0 %} is-invalid {% endif %}"
                                            value="{{ user_form.username.value }}" required name="username">
                                        <br>

                                        {% for error in user_form.username.errors %}
                                        <li class="invalid-feedback">{{ error }}</li>
                                        {% endfor %}
                                        
                                    </h6> -->
                                    {% endcomment %}

                                    <p><b>{% if user.is_superuser %}Super User{% else %}Normal User{% endif %}</b></p><i
                                        class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="d-flex justify-content-center">
                                    <h5 class="text-center mt-2">Update Profile</h5>
                                </div>
                                <div class="p-2 float-end">
                                    {% if save_url_name %}
                                    <input type="submit" class="btn btn-success btn-sm" style="z-index: 9;"
                                        value="Save Profile">
                                    {% endif %}
                                </div>
                                <div class="p-2 float-start">
                                    {% if cancel_url_name %}
                                    <a href="{% url cancel_url_name %}" class="btn btn-sm btn-warning">Cancel Update</a>
                                    {% endif %}
                                </div>
                                <br>
                                <div class="card-block">
                                    <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Personal Information</h6>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">First Name</p>
                                            <h6 class="text-muted f-w-400">
                                                <input type="text" name="first_name" id="first_name"
                                                    value="{{ user_form.first_name.value }}" placeholder="First Name" required
                                                    class="form-control form-control-sm {% if user_form.first_name.errors|length > 0 %} is-invalid {% endif %}">

                                                {% for error in user_form.first_name.errors %}
                                                <li class="invalid-feedback">{{ error }}</li>
                                                {% endfor %}
                                            </h6>
                                            <p class="m-b-10 f-w-600">Last Name</p>
                                            <h6>
                                                <input type="text" name="last_name" id="last_name"
                                                    value="{{ user_form.last_name.value }}" placeholder="Last Name" required
                                                    class="form-control form-control-sm {% if user_form.last_name.errors|length > 0 %} is-invalid {% endif %}">
                                                {% for error in user_form.last_name.errors %}
                                                <li class="invalid-feedback">{{ error }}</li>
                                                {% endfor %}
                                            </h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Date of Birth</p>
                                            <h6 class="text-muted f-w-400">
                                                <input type="date" name="dob" id="dob"
                                                    class="form-control form-control-sm {% if user_profile_form.dob.errors|length > 0 %} is-invalid {% endif %}"
                                                    required value="{% if user_profile_form.dob.value|date:'Y-m-d' %}{{ user_profile_form.dob.value|date:'Y-m-d' }}{% else %}{{ user_profile_form.dob.value|strip }}{% endif %}">
                                                {% for error in user_profile_form.dob.errors %}
                                                <li class="invalid-feedback">{{ error }}</li>
                                                {% endfor %}
                                            </h6>
                                        </div>
                                    </div>
                                    <br>
                                    <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Contact Information</h6>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Email</p>
                                            <h6 class="text-muted f-w-400">
                                                <input type="email" name="email" id="email" value="{{ user_form.email.value }}"
                                                    placeholder="Email" required
                                                    class="form-control form-control-sm {% if user_form.email.errors|length > 0 %} is-invalid {% endif %}">
                                                {% for error in user_form.email.errors %}
                                                <li class="invalid-feedback">{{ error }}</li>
                                                {% endfor %}
                                            </h6>
                                        </div>
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Phone</p>
                                            <h6 class="text-muted f-w-400">
                                                <input type="text" name="phone" id="phone"
                                                    value="{{ user_profile_form.phone.value }}" placeholder="Phone Number"
                                                    required
                                                    class="form-control form-control-sm {% if user_profile_form.phone.errors|length > 0 %} is-invalid {% endif %}">
                                                {% for error in user_profile_form.phone.errors %}
                                                <li class="invalid-feedback">{{ error }}</li>
                                                {% endfor %}
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <p class="m-b-10 f-w-600">Address</p>
                                            <h6 class="text-muted f-w-400">
                                                <input type="text" name="address" id="address"
                                                    value="{{ user_profile_form.address.value }}" placeholder="Address"
                                                    required
                                                    class="form-control form-control-sm {% if user_profile_form.address.errors|length > 0 %} is-invalid {% endif %}">
                                                {% for error in user_profile_form.address.errors %}
                                                <li class="invalid-feedback">{{ error }}</li>
                                                {% endfor %}
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>