<div class="card p-3">
    <h5>{% if counter %}{{ counter }}. {% endif %}{{ post.title }}
    </h5>
    <div class="row">
        <p class="text-truncate text-warning bg-dark"><b>Content Hidden for guests. Please <a href="{% url 'login' %}">Login to continue.</a></b></p>
    </div>
    <br>
    <small>
        <div class="float-end">
            <span class="badge rounded-pill bg-success text-break">Author: Hidden</span>
        </div>
        <div class="row">
            <div class="col-12">
                <span class="badge rounded-pill bg-secondary text-break">Created at: Hidden</span>
            </div>
            <div class="col-12">
                <span class="badge rounded-pill bg-primary text-break">Last Updated at: Hidden</span>
            </div>
        </div>
    </small>
</div>