{% load static %}
<link rel="stylesheet" href="{% static 'css/user_profile.css' %}">

<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-xl-10 col-md-12">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25"> <img
                                        src="{% if user.userprofile.image  %}{{ user.userprofile.image.url }}{% else %} /static/default_user.png {% endif %}"
                                        class="img-fluid w-50" alt="User-Profile-Image"> </div>
                                <h4 class="f-w-600 text-dark">{{ user.username }}</h4>
                                <p>{% if user.is_superuser %}Super User{% else %}Normal User{% endif %}</p><i
                                    class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="d-flex justify-content-end float-end">
                                <div class="p-2">
                                    {% if update_url_name %}
                                    <a href="{% url update_url_name %}" class="btn btn-primary btn-sm"
                                        style="z-index: 9;">Update Profile</a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="card-block">
                                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Personal Information</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Name</p>
                                        <h6 class="text-muted f-w-400">{{ user.first_name }} {{ user.last_name }}</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Date of Birth</p>
                                        <h6 class="text-muted f-w-400">{{ user.userprofile.dob }}</h6>
                                    </div>
                                </div>
                                <br>
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Contact Information</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Email</p>
                                        <h6 class="text-muted f-w-400">{{ user.email }}</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Phone</p>
                                        <h6 class="text-muted f-w-400">{{ user.userprofile.phone }}</h6>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Address</p>
                                        <h6 class="text-muted f-w-400">{{ user.userprofile.address }}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>