{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h2 class="text-center">{% if post %}Update{% else %}Create{% endif %} Post Form {% if post %} : {% endif %}
    {{ post.title }}</h2>

{% if post %} 
<table class="mx-auto">
    <tbody>
        <tr>
            <td>
                <a href="{% url 'post:list' %}" class="btn btn-primary">All Categories</a>
            </td>
            <td>
                <a href="{% url 'post:detail' post.slug %}" class="btn btn-info">Details</a>
            </td>
            {% if request.user == post.user %}
            <td>
                <form action="{% url 'post:delete' post.slug %}" method="post"
                    onsubmit="return confirm('Do you want to delete post with id : \'{{ post.title }}\' ?')">
                    {% csrf_token %}
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form>
            </td>
            {% endif %}
        </tr>
    </tbody>
</table>
{% endif %}

{% if form.subject.errors %}
<ol>
    {% for error in form.subject.errors %}
    <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
</ol>
{% endif %}


<form method="POST" enctype="multipart/form-data" class="card col-xl-8 col-md-10 col-xs-9 col-9 mx-auto p-3 mt-3">

    <!-- Security token -->
    {% csrf_token %}

    <!-- Using the formset -->
    {{ form|crispy }}

    {% if post %}
    <input type="submit" value="Update Post" class="btn btn-info">
    {% else %}
    <input type="submit" value="Create Post" class="btn btn-success">
    {% endif %}


</form>
{% endblock content %}